@font-face {
    font-family: 'ralewaybold';
    src: url('font/raleway-bold-webfont.eot');
    src: url('font/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/raleway-bold-webfont.woff2') format('woff2'),
         url('font/raleway-bold-webfont.woff') format('woff'),
         url('font/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('font/raleway-semibold-webfont.eot');
    src: url('font/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/raleway-semibold-webfont.woff2') format('woff2'),
         url('font/raleway-semibold-webfont.woff') format('woff'),
         url('font/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('font/raleway-medium-webfont.eot');
    src: url('font/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/raleway-medium-webfont.woff2') format('woff2'),
         url('font/raleway-medium-webfont.woff') format('woff'),
         url('font/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('font/raleway-regular-webfont.eot');
    src: url('font/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/raleway-regular-webfont.woff2') format('woff2'),
         url('font/raleway-regular-webfont.woff') format('woff'),
         url('font/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.block_page
{
    max-width: 1340px;
    margin-left: 60px;
}

body
{
    font-family: 'ralewayregular';
    margin: 0 auto;
    max-width: 1440px;
    
}
p
{
    font-family: 'ralewayregular';
    font-size: 14px;
}

/* CSS DE PAS PARTIE HEADER */

header
{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
a
{
    text-decoration: none;
}
.content_logo
{
    width: 100px;
    height: auto;
}
.img_logo
{
    width: 100%;
}

.content_ancre
{
    width: 35%;
    text-align: center;
    display: inline-flex;
    
}
.hebergement-menu
{
    width: 100%;
    
    color: #0065fc;
    border-top: 2px solid #0065fc;
    padding-top: 15px;
}
.activite_menu
{
    width: 100%;
    color: black;
    padding-top: 17px;
}
.inscription_menu
{
    width: 100%;
    padding-top: 17px;
    font-weight: bold;
    font-family: 'ralewaybold';
    color: #0065fc;
    margin-right: 0;
}
.inscription_menu_responsive
{
    display: none;
}

/* Fin de zone d'introduction début zone bouton de recherche */

h1
{
    font-size: 1.6em;
    margin-left: 5px;
}
.intro
{
    margin-left: 5px;
}
.bouton_recherche
{
    width: 100%;
    
}
.position_icone
{
    background-color: #f2f2f2;
    width: 30%;
    height: 53px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.icone1
{
    width: 30%;
    display: inline-flex;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-radius: 15px;
}
em
{
    position: relative;
    margin-top: 17px;
    margin-left: 25px;
}
.icone_responsive
{
    display: none;
}
input
{
    width: 100%;
    text-align: justify;
    margin-left: 10px;
    font-family: 'ralewaybold';
    font-size: 0.9rem;
    border-style: none;  
}
button
{
    width: 50%;
    height: 53px;
    color: white;
    background-color: #0065fc;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-style: none;
    font-family: 'ralewaybold';
    font-size: 17px;
}

/* FIN de la zone introdution et champ de recherche et debut de la NAVBAR */

#content_filtres
{ 
    width: 100%;
    margin-top: 20px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;   
    align-content: center;
}
.item_filtre_border
{
    display: inline-flex;
    border: 2px solid #d9d9d9;
    border-radius: 35px;
    margin-left: 20px;
    
}

.item_filtre_border:hover
{
    background-color: #f2f2f2;
}
.filtre
{
    text-decoration: none;
    color: black;
    position: relative;
    margin-left: 10px;
}
.icone_filtre
{
    background-color: #DEEBFF;
    width: 35px;
    height: 35px;
    border-radius: 35px;

}
.icone
{
    color: #0065fc;
    transform: translate(50%,-50%);
    position: relative;
    top: 17px;
    right: 10px; 
}
.filtre_name
{
    margin-right: 15px;
    margin-top: 8px;
    font-family: 'ralewaybold';
    font-size: 15px; 
}

/* FIN de la NAVBAR et debut de la zone
d'information */

#information
{
    position: relative;
    top: 10px;
    display: flex;
    margin-bottom: 20px;
}
.border_icone_info
{
    width: 25px;
    height: 25px;
    border:1px solid #f2f2f2;
    border-radius: 35px;
    margin-top: 10px;;
}
.icone_info
{
    color: #0065fc;
    transform: translate(40%,10%);
}
.info_text
{
    margin-left: 10px;
}

/* Debut de la section avec la première partie les hebergements à Marseille*/ 

section
{
    width: 1330px;
    display: inline-flex; 
}
#hebergement_content
{
    width: 70%;
    border-radius: 25px;
    background-color: #f2f2f2; 
    display: flex;
    flex-flow: row wrap;
    align-content: center;  
}
.content_nom_item
{
    width: 100%;
    font-size: 1.2rem;
    font-family: 'ralewaybold';
    font-size: 14px;
    position: relative;
    left: 30px;

}
.item_hebergement
{
    width: 250px;
    background-color: white;
    border-radius: 15px;
    line-height: 1px; 
    box-shadow: 6px 6px 4px #e4e4e4; 
    margin-bottom: 40px;
    margin-left: 42px;  
}
.img_item_hebergement
{ 
    width: 236px;
    height: 110px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 7px;
}
.nom
{
    font-size: 15px;
    margin: 15px;
    line-height: 5px;
    position: relative;
    bottom: 10px;
    color: black;
}

.nom_hotel
{
    font-family: 'ralewaysemibold';
    font-size: 16px;
    color: black;
}
span
{
    font-family: 'ralewaysemibold';
}
.etoile
{
    display: inline-flex;
    font-size: 13px;
    position: relative;
    bottom: 10px;
    left: 15px;
}
.etoile1
{
    color: #0065fc;
}
.etoile2
{
    color: #f2f2f2;
}
.ending_item
{
    width: 100%;
    font-size: 0.8rem;
    position: relative;
    left: 40px;
    bottom: 15px;
}


/* Deuxième partie de la section avec les hebergments les plus populaires */

#content_item_populaire
{
    width: 27%;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    
}
.nom_item_populaire
{
    font-size: 1.1rem;
    font-family: 'ralewaybold';
    position: relative;
    left: 25px;
    top: 20px;
}
.icone_populaire
{

    position: relative;
    bottom: 20px;
    font-size: 20px;
    left: 85%;
}
.item_populaire
{
    width: 90%;
    height: 145px;
    background-color: white;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.img_populaire
{
    width: 125px;
    height: 135px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 5px;
}
.hotel_populaire
{
    position: relative;
    left: 150px;
    bottom: 150px;
    line-height: 20px;
    color: black;
}
.hotel_pop
{
    font-family: 'ralewaysemibold';
    font-size: 16px;
}
.etoile_populaire
{
    display: inline-flex;
    position: relative;
    left: 150px;
    bottom: 140px;
    font-size: 12px;
}
.etoile1
{
    color: #0065fc;
}
.etoile2
{
    color: #f2f2f2;
}

/* Debut de l'article activités à Marseille */

#Activites_content
{
    margin-top: 30px;
}
#activites_marseille_content
{
    max-width: 1340px;
    height: 500px;
    display: flex;
    flex-flow: column wrap; 
}
#activite
{
    font-family: 'ralewaybold';
    font-size: 17px;
}
h4
{
    font-size: 1.2rem;
    font-family: 'ralewaybold';
    position: relative;
    margin: 10px;  
}
.text_activite
{
    text-decoration: none;
    color: black;
}
.nom_activite
{
    font-family: 'ralewaysemibold';
    font-size: 1em;
    margin-left: 15px;
    text-align: justify;
}
#act_item1
{
    width: 300px;
    height: 445px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 4px 4px 4px #e4e4e4; 
}
.act_item1
{
    width: 300px;
    height: 390px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#act_item2
{
    width: 300px;
    height: 235px;
    background-color: white;
    border-radius: 15px; 
    box-shadow: 4px 4px 4px #e4e4e4;
    margin-bottom: 45px;
}
.act_item2
{
    width: 300px;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#act_item3
{
    width: 300px;
    height: 165px;
    background-color: white;
    border-radius: 15px; 
    box-shadow: 4px 4px 4px #e4e4e4;   
}
.act_item3
{
    width: 300px;
    height: 110px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#act_item4
{
    width: 300px;
    height: 445px;
    background-color: white;
    border-radius: 15px; 
    box-shadow: 4px 4px 4px #e4e4e4;
}
.act_item4
{
    width: 300px;
    height: 390px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#act_item5
{
    width: 300px;
    height: 190px;
    background-color: white;
    border-radius: 15px; 
    box-shadow: 4px 4px 4px #e4e4e4;
    margin-bottom: 45px;
}

.act_item5
{
    width: 300px;
    height: 135px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#act_item6
{
    width: 300px;
    height: 210px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 4px 4px 4px #e4e4e4; 
}
.act_item6
{
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Partie du footer */

footer
{
    width: 1440px;
    height: auto;
    background-color: #f2f2f2;  
}
.footer_content
{
    display: flex;
    justify-content: space-between;
}
.main_footer
{
    font-family: 'ralewaysemibold';
    font-size: 1.2em;
}
.item
{
    width: 480px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.p_footer
{
    line-height: 20px;
    margin: 30px;
    line-height: 25px;
}



/* MEDIA QUERY POUR TELEPHONE*/

@media only screen and (min-device-width : 320px) and (max-device-width : 770px) {


    .block_page
    {
        
        margin-left: 0px;
    }
    
    body
    {
        font-family: 'ralewayregular';
        width: 100%;
        margin: 0 auto;
        height: auto;
        
    }
    p
    {
        font-family: 'ralewayregular';
        font-size: 14px;
    }
    
    /* CSS pour téléphone partie header */
    header
{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
a
{
    text-decoration: none;
}
.content_logo
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}
.img_logo
{
    width: 100px;
}

.content_ancre
{
    width: 100%;
    justify-content: space-around;
}
.hebergement-menu
{
    width: 100%;  
    color: #0065fc;
    border-top: 2px solid #0065fc;
    border-top: none;
    padding-top: 15px;
    border-bottom: 2px solid #0065fc;
    padding-bottom: 15px;
}
.activite_menu
{
    width: 100%;
    text-align: center;
    color: black;
    padding-top: 17px;
    border-bottom: 2px solid silver;
    padding-bottom: 15px;
}
.inscription_menu
{
    display: none;
}
.inscription_menu_responsive
{
    display: block;
    font-weight: bold;
    font-family: 'ralewaybold';
    color: #0065fc;
    margin-top: 20px;
}

    .introduction
    {
        margin-left: 10px;
    }
    
    /* Fin de zone d'introduction début zone bouton de recherche */
    
    .bouton_recherche
    {
        width: 100%;
        margin-left: 10px;
    }

    .position_icone
    {
        background-color: #f2f2f2;
        width: 50px;
        height: 50px;
        height: auto;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .icone1
    {
        width: 95%;
        display: inline-flex;
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
        border-radius: 15px;  
        

    }
    em
    {
        position: relative;
        margin-top: 17px;
        margin-left: 20px;
    }
    .icone_responsive
    {
        width: 50px;
        height: 50px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        display: block;
    }
    input
    {
        width: 240px;
        text-align: justify;
        margin-left: 10px;
        font-family: 'ralewaybold';
        font-size: 0.9rem;
        border-style: none;  
    }
    button
    {
        display: none;
    }
    
    /* FIN de la zone introdution et champ de recherche et debut de la NAVBAR */
    
    #content_filtres
    { 
        width: 100%;
        height: 180px;
        display: inline-flex;
        flex-flow: column wrap;
        justify-content: flex-start;   
        align-content: flex-start;     
    }
    .item_filtre_border
    {
        display: inline-flex;
        border: 2px solid #d9d9d9;
        border-radius: 35px;
        margin-left: 10px;
        margin-bottom: 0px;    
    }  
    .item_filtre_border:hover
    {
        background-color: #f2f2f2;
    }
    .item_filtre
    {
        width: auto;
        margin-bottom: 10px;
    }
    .item_filtre_1
    {
        order: 4;
        margin-top: 25px;
        margin-right: 20px;
    }
    .filtre
    {
        text-decoration: none;
        color: black;
        position: relative;
        margin-left: 10px;
    }
    .icone_filtre
    {
        background-color: #DEEBFF;
        width: 35px;
        height: 35px;
        border-radius: 35px;
    
    }
    .icone
    {
        color: #0065fc;
        transform: translate(50%,-50%);
        position: relative;
        top: 17px;
        right: 10px; 
    }
    .filtre_name_responsive
    {
        position: relative;
        left: 30px;
        bottom: 15px;
    }
    .filtre_name
    {
        margin-right: 15px;
        margin-top: 8px;
        font-family: 'ralewaybold';
        font-size: 15px; 
    }
  
    /* FIN de la NAVBAR et debut de la zone
    d'information */
    
    #information
    {
        margin-left: 10px;
        display: flex;
        margin-bottom: 10px;
    }
    .border_icone_info
    {
        width: 25px;
        height: 25px;
        border:1px solid #f2f2f2;
        border-radius: 35px;
        margin-top: 10px;;
    }
    .icone_info
    {
        color: #0065fc;
        transform: translate(40%,10%);
    }
    .info_text
    {
        margin-left: 15px;
    }
    
    /* Debut de la section avec la première partie les hebergements à Marseille*/ 
    
    section
    {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #hebergement_content
    {
        width: 100%;
        border-radius: 25px;
        background-color: transparent; 
        display: flex;
        flex-flow: column wrap;
        align-content: center;  
        background-color: transparent; 
        order: 2;
    }
    .content_nom_item
    {
        width: 100%;
        font-size: 1.2rem;
        font-family: 'ralewaybold';
        font-size: 14px;
        position: relative;
        left: 30px;
    
    }
    .item_hebergement
    {
        width: 95%;
        background-color: white;
        border-radius: 25px;
        line-height: 1px; 
        box-shadow: 6px 6px 4px #e4e4e4; 
        margin-bottom: 15px;
        margin-left: 10px;  
    }
    .img_item_hebergement
    { 
        width: 98%;
        height: 110px;
        object-fit: cover;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        padding: 5px;
    }
    .nom
    {
        font-size: 15px;
        margin: 15px;
        line-height: 5px;
        position: relative;
        bottom: 10px;
        color: black;
    }
    
    .nom_hotel
    {
        font-family: 'ralewaysemibold';
        font-size: 16px;
        color: black;
    }
    span
    {
        font-family: 'ralewaysemibold';
    }
    .etoile
    {
        display: inline-flex;
        font-size: 13px;
        position: relative;
        bottom: 10px;
        left: 15px;
    }
    .etoile1
    {
        color: #0065fc;
    }
    .etoile2
    {
        color: #f2f2f2;
    }
    .ending_item
    {
        width: 100%;
        font-size: 0.8rem;
        position: relative;
        left: 40px;
        bottom: 15px;
    }
    
    
    /* Deuxième partie de la section avec les hebergments les plus populaires */
    a
    {
        text-decoration: none;
    }
    #content_item_populaire
    {
        width: 100%;
        height: auto;
        background-color: #f2f2f2;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        margin-right: 25px;
        margin-left: 0px;
    }
    .nom_item_populaire
    {
        font-size: 1.1rem;
        font-family: 'ralewaybold';
        position: relative;
        left: 25px;
    }
    .icone_populaire
    {
    
        position: relative;
        bottom: 25px;
        font-size: 20px;
        left: 85%;
    }
    .item_populaire
    {
        width: 90%;
        height: 145px;
        background-color: white;
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }
    .img_populaire
    {
        width: 125px;
        height: 135px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 5px;
    }
    .hotel_populaire
    {
        position: relative;
        left: 150px;
        bottom: 150px;
        line-height: 20px;
        color: black;
    }
    .hotel_pop
    {
        font-family: 'ralewaysemibold';
        font-size: 16px;
    }
    .etoile_populaire
    {
        display: inline-flex;
        position: relative;
        left: 150px;
        bottom: 140px;
        font-size: 12px;
    }
    .etoile1
    {
        color: #0065fc;
    }
    .etoile2
    {
        color: #f2f2f2;
    }
    
    /* Debut de l'article activités à Marseille */
    
    #Activites_content
    {
        width: 100%;
        height: auto;
        margin-top: 0px;
        display: flex;
        flex-flow: row wrap;
    }
    #activites_marseille_content
    {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-flow: row wrap; 
    }
    #activites_marseille_content > a
    {
        width: 95%;
        height: auto;
        display: block;
        color: black;
        text-decoration: none;
    }
    #activite
    {
        font-family: 'ralewaybold';
        font-size: 17px;
    }
    h4
    {
        font-size: 1.2rem;
        font-family: 'ralewaybold';
        position: relative;
        margin: 10px;  
    }
    .nom_activite
    {
        font-family: 'ralewaysemibold';
        font-size: 13px;
        margin-left: 15px;
    }
    #act_item1
    {
        width: 100%;
        height: 245px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 4px 4px 4px #e4e4e4; 
        margin-bottom: 15px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .act_item1
    {
        width: 100%;
        height: 190px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    #act_item2
    {
        width: 100%;
        height: 245px;
        background-color: white;
        border-radius: 15px; 
        box-shadow: 4px 4px 4px #e4e4e4;
        margin-bottom: 15px;
    }
    .act_item2
    {
        width: 100%;
        height: 190px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    #act_item3
    {
        width: 100%;
        height: 245px;
        background-color: white;
        border-radius: 15px; 
        box-shadow: 4px 4px 4px #e4e4e4; 
        margin-bottom: 15px;
        margin-right: 0px; 
    }
    .act_item3
    {
        width: 100%;
        height: 190px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    #act_item4
    {
        width: 100%;
        height: 245px;
        background-color: white;
        border-radius: 15px; 
        box-shadow: 4px 4px 4px #e4e4e4;
        margin-right: 0px;
        margin-bottom: 15px;
    }
    .act_item4
    {
        width: 100%;
        height: 190px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    #act_item5
    {
        width:100%;
        height: 245px;
        background-color: white;
        border-radius: 15px; 
        box-shadow: 4px 4px 4px #e4e4e4;
        margin-right: 0px;
        margin-bottom: 15px;
    }
    
    .act_item5
    {
        width: 100%;
        height: 190px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    #act_item6
    {
        width: 100%;
        height: 245px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 4px 4px 4px #e4e4e4; 
        margin-bottom: 15px;
        
    }
    .act_item6
    {
        width: 100%;
        height: 190px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    
    /* Partie du footer */
    
    footer
    {
        width: 100%;
        height: auto;
        position: relative;
        background-color: #f2f2f2;  
    }
    .footer_content
    {
        display: flex;
        flex-flow: column wrap;
    }
    span
    {
        font-family: 'ralewaysemibold';
    }
    .item
    {
        width: 480px;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .p_footer
    {
        line-height: 20px;
        margin: 30px;
        line-height: 25px;
    }

/*Accolade de fin de media query pour téléphone NE PAS SUPPRIMER*/


}